

.AssessmentEditor {

  margin: 0.5em;
  padding: 0.5em;
}

.AssessmentEditor .editor-views {
  display: flex;
}

.AssessmentEditor .outline {
  width: 50%;
  padding: 0.5em;
  margin: 0.5em;
}

.AssessmentEditor .outline h2 {
  font-size: 1.3em;
  font-weight: 500;
  padding: 1em 0;
}

.AssessmentEditor .outline .editable .AssessmentItemViewer:hover {
  background-color: #eee;
  cursor: pointer;
}

.AssessmentEditor .details {
  width: 50%;
  padding: 0.5em;
  margin: 0.5em;
}