

.AssessmentItemViewer {
  margin: 1em 0.5em;
  padding: 0.5em;
}

.AssessmentItemViewer .question {
  font-weight: 500;
  padding-bottom: 0.5em;
  line-height: 1.2em;
}

.AssessmentItemViewer .choice {
  padding: 0.5em;
}

.AssessmentItemViewer .is-correct {
  display: inline-block;
  height: 1em;
  padding-right: 0.5em;
  vertical-align: bottom;
}