
.LessonPlanningPage {

}

.LessonPlanningPage .lesson-plan-outline {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: grey;
}

.LessonPlanningPage .lesson-plan-outline .lesson-item-listing {
  display: flex;
}

.LessonPlanningPage .placeholder-content {
  max-width: 30em;
  margin: 0 auto;
  padding: 5em 1em;
  text-align: center;
}