@import "/imports/ui/constants.less";

.main-tool-bar {
  display: flex;
  justify-content: center;
  background-color: @light_shade_1;
  border-bottom: 1px solid @mid_shade_1;
}

.main-tool-bar a {
  display: block;
  padding: 1.5rem 2rem;
  width: 10rem;
  text-align: center;
}

.main-tool-bar a.selected {
  border-bottom: 1px solid white;
  position: relative;
  bottom: -1px;
  background-color: white;
  border-top: 1px solid @mid_shade_1;
  border-left: 1px solid @mid_shade_1;
  border-right: 1px solid @mid_shade_1;
}

.main-tool-bar a:hover {
  background-color: @mid_shade_2;
}